<h1>Latest Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date published</th>
    </tr>
  </thead>
  <tbody>
<%= for post <- @posts do %>
    <tr>
      <td>
      <a href="<%= Routes.post_path(@conn, :show, post.slug) %>">
        <div style="height:100%;width:100%">
       <%= post.title %>
        </div>
      </a>
      </td>
      <td><%= post.inserted_at %></td>
    </tr>
<% end %>
  </tbody>
</table>
