<h1> <%= @post.title %> </h1>

    <%= markdown(@post.body) %>


<div class="post-footer">
  <strong>Views:</strong>
  <%= @post.views %>

  <strong>Read time:</strong>
  <%= @post.read_time %> minutes
</div>
